{% extends 'pages/base.html' %}

{% block title %}Contact - Online Store{% endblock %}
{% block header_title %}Contact{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 ms-auto">
      <p class="lead">
        <strong>Email:</strong> contact@onlinestore.com
      </p>
    </div>
    <div class="col-lg-4 me-auto">
      <p class="lead">
        <strong>Address:</strong> 123 Fake Street, Medellín
      </p>
      <p class="lead">
        <strong>Phone:</strong> +57 300 123 4567
      </p>
    </div>
  </div>
</div>
{% endblock %}
